**MongoDB Tutorials**

In [1]:
import pymongo

In [7]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

In [3]:
import pymongo

myclient = pymongo.MongoClient('mongodb://localhost:27017/')

print(myclient.list_database_names())

['admin', 'config', 'local']

In [6]:
dblist = myclient.list_database_names()
if "admin" in dblist:
  print("The database exists.")

The database exists.

In [9]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]

mycol = mydb["customers"]

In [13]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "priti", "address": "vadodara" }

x = mycol.insert_one(mydict)

In [15]:
import pymongo

myclient = pymongo.MongoClient('mongodb://localhost:27017/')
mydb = myclient['mydatabase']
mycol = mydb["customers"]

mydict = { "name" : "pari" , "address" : "canada"}

x = mycol.insert_one(mydict)

print(x.inserted_id)

64d220025803c0a13d4ac47a

In [17]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "pune"},
  { "name": "Hina", "address": "mumbai"},
  { "name": "Munny", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Bijal", "address": "Green Grass 1"},
  { "name": "Ruchi", "address": "Sky st 331"},
  { "name": "Siya", "address": "One way 98"},
  { "name": "Virat", "address": "Yellow Garden 2"},
  { "name": "Bina", "address": "Park Lane 38"},
  { "name": "vani", "address": "Central st 954"},
  { "name": "Charmi", "address": "Main Road 989"},
  { "name": "Vivek", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

print(x.inserted_ids)

[ObjectId('64d223995803c0a13d4ac489'), ObjectId('64d223995803c0a13d4ac48a'), ObjectId('64d223995803c0a13d4ac48b'), ObjectId('64d223995803c0a13d4ac48c'), ObjectId('64d223995803c0a13d4ac48d'), ObjectId('64d223995803c0a13d4ac48e'), ObjectId('64d223995803c0a13d4ac48f'), ObjectId('64d223995803c0a13d4ac490'), ObjectId('64d223995803c0a13d4ac491'), ObjectId('64d223995803c0a13d4ac492'), ObjectId('64d223995803c0a13d4ac493'), ObjectId('64d223995803c0a13d4ac494')]

In [18]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "_id": 1, "name": "John", "address": "pune"},
  { "_id": 2, "name": "Peter", "address": "mumbai"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [21]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('64d21eeb5803c0a13d4ac478'), 'name': 'priti', 'address': 'vadodara'}

In [25]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find():

    print(x)

{'_id': ObjectId('64d21eeb5803c0a13d4ac478'), 'name': 'priti', 'address': 'vadodara'}
{'_id': ObjectId('64d220025803c0a13d4ac47a'), 'name': 'pari', 'address': 'canada'}
{'_id': ObjectId('64d222b85803c0a13d4ac47c'), 'name': 'Amy', 'address': 'pune'}
{'_id': ObjectId('64d222b85803c0a13d4ac47d'), 'name': 'Hina', 'address': 'Mumbai'}
{'_id': ObjectId('64d222b85803c0a13d4ac47e'), 'name': 'Munny', 'address': 'Valley 345'}
{'_id': ObjectId('64d222b85803c0a13d4ac47f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d222b85803c0a13d4ac480'), 'name': 'Bijal', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d222b85803c0a13d4ac481'), 'name': 'Ruchi', 'address': 'Sky st 331'}
{'_id': ObjectId('64d222b85803c0a13d4ac482'), 'name': 'Siya', 'address': 'One way 98'}
{'_id': ObjectId('64d222b85803c0a13d4ac483'), 'name': 'Virat', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d222b85803c0a13d4ac484'), 'name': 'Bina', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d222b85803c0a13d4ac485'), 'name': 'vani', 'address': 'Central st 954'}
{'_id': ObjectId('64d222b85803c0a13d4ac486'), 'name': 'Charmi', 'address': 'Main Road 989'}
{'_id': ObjectId('64d222b85803c0a13d4ac487'), 'name': 'Vivek', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d223995803c0a13d4ac489'), 'name': 'Amy', 'address': 'pune'}
{'_id': ObjectId('64d223995803c0a13d4ac48a'), 'name': 'Hina', 'address': 'mumbai'}
{'_id': ObjectId('64d223995803c0a13d4ac48b'), 'name': 'Munny', 'address': 'Valley 345'}
{'_id': ObjectId('64d223995803c0a13d4ac48c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d223995803c0a13d4ac48d'), 'name': 'Bijal', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d223995803c0a13d4ac48e'), 'name': 'Ruchi', 'address': 'Sky st 331'}
{'_id': ObjectId('64d223995803c0a13d4ac48f'), 'name': 'Siya', 'address': 'One way 98'}
{'_id': ObjectId('64d223995803c0a13d4ac490'), 'name': 'Virat', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d223995803c0a13d4ac491'), 'name': 'Bina', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d223995803c0a13d4ac492'), 'name': 'vani', 'address': 'Central st 954'}
{'_id': ObjectId('64d223995803c0a13d4ac493'), 'name': 'Charmi', 'address': 'Main Road 989'}
{'_id': ObjectId('64d223995803c0a13d4ac494'), 'name': 'Vivek', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'pune'}
{'_id': 2, 'name': 'Peter', 'address': 'mumbai'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [30]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{"_id" : 0, "name" : 1, "address" : 1}):
    print(x)

{'name': 'priti', 'address': 'vadodara'}
{'name': 'pari', 'address': 'canada'}
{'name': 'Amy', 'address': 'pune'}
{'name': 'Hina', 'address': 'Mumbai'}
{'name': 'Munny', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Bijal', 'address': 'Green Grass 1'}
{'name': 'Ruchi', 'address': 'Sky st 331'}
{'name': 'Siya', 'address': 'One way 98'}
{'name': 'Virat', 'address': 'Yellow Garden 2'}
{'name': 'Bina', 'address': 'Park Lane 38'}
{'name': 'vani', 'address': 'Central st 954'}
{'name': 'Charmi', 'address': 'Main Road 989'}
{'name': 'Vivek', 'address': 'Sideway 1633'}
{'name': 'Amy', 'address': 'pune'}
{'name': 'Hina', 'address': 'mumbai'}
{'name': 'Munny', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Bijal', 'address': 'Green Grass 1'}
{'name': 'Ruchi', 'address': 'Sky st 331'}
{'name': 'Siya', 'address': 'One way 98'}
{'name': 'Virat', 'address': 'Yellow Garden 2'}
{'name': 'Bina', 'address': 'Park Lane 38'}
{'name': 'vani', 'address': 'Central st 954'}
{'name': 'Charmi', 'address': 'Main Road 989'}
{'name': 'Vivek', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'pune'}
{'name': 'Peter', 'address': 'mumbai'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [34]:
import pymongo 

myclient = pymongo.MongoClient("mongodb://localhost:27017")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{"address" : 0}):
    print(x)

{'_id': ObjectId('64d21eeb5803c0a13d4ac478'), 'name': 'priti'}
{'_id': ObjectId('64d220025803c0a13d4ac47a'), 'name': 'pari'}
{'_id': ObjectId('64d222b85803c0a13d4ac47c'), 'name': 'Amy'}
{'_id': ObjectId('64d222b85803c0a13d4ac47d'), 'name': 'Hina'}
{'_id': ObjectId('64d222b85803c0a13d4ac47e'), 'name': 'Munny'}
{'_id': ObjectId('64d222b85803c0a13d4ac47f'), 'name': 'Sandy'}
{'_id': ObjectId('64d222b85803c0a13d4ac480'), 'name': 'Bijal'}
{'_id': ObjectId('64d222b85803c0a13d4ac481'), 'name': 'Ruchi'}
{'_id': ObjectId('64d222b85803c0a13d4ac482'), 'name': 'Siya'}
{'_id': ObjectId('64d222b85803c0a13d4ac483'), 'name': 'Virat'}
{'_id': ObjectId('64d222b85803c0a13d4ac484'), 'name': 'Bina'}
{'_id': ObjectId('64d222b85803c0a13d4ac485'), 'name': 'vani'}
{'_id': ObjectId('64d222b85803c0a13d4ac486'), 'name': 'Charmi'}
{'_id': ObjectId('64d222b85803c0a13d4ac487'), 'name': 'Vivek'}
{'_id': ObjectId('64d223995803c0a13d4ac489'), 'name': 'Amy'}
{'_id': ObjectId('64d223995803c0a13d4ac48a'), 'name': 'Hina'}
{'_id': ObjectId('64d223995803c0a13d4ac48b'), 'name': 'Munny'}
{'_id': ObjectId('64d223995803c0a13d4ac48c'), 'name': 'Sandy'}
{'_id': ObjectId('64d223995803c0a13d4ac48d'), 'name': 'Bijal'}
{'_id': ObjectId('64d223995803c0a13d4ac48e'), 'name': 'Ruchi'}
{'_id': ObjectId('64d223995803c0a13d4ac48f'), 'name': 'Siya'}
{'_id': ObjectId('64d223995803c0a13d4ac490'), 'name': 'Virat'}
{'_id': ObjectId('64d223995803c0a13d4ac491'), 'name': 'Bina'}
{'_id': ObjectId('64d223995803c0a13d4ac492'), 'name': 'vani'}
{'_id': ObjectId('64d223995803c0a13d4ac493'), 'name': 'Charmi'}
{'_id': ObjectId('64d223995803c0a13d4ac494'), 'name': 'Vivek'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [35]:
query = {"address" : "pune"}
doc = mycol.find(query)

for x in doc :
    print(x)

{'_id': ObjectId('64d222b85803c0a13d4ac47c'), 'name': 'Amy', 'address': 'pune'}
{'_id': ObjectId('64d223995803c0a13d4ac489'), 'name': 'Amy', 'address': 'pune'}
{'_id': 1, 'name': 'John', 'address': 'pune'}

In [40]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": {"$gt": "S"} }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('64d21eeb5803c0a13d4ac478'), 'name': 'priti', 'address': 'vadodara'}
{'_id': ObjectId('64d220025803c0a13d4ac47a'), 'name': 'pari', 'address': 'canada'}
{'_id': ObjectId('64d222b85803c0a13d4ac47c'), 'name': 'Amy', 'address': 'pune'}
{'_id': ObjectId('64d222b85803c0a13d4ac47e'), 'name': 'Munny', 'address': 'Valley 345'}
{'_id': ObjectId('64d222b85803c0a13d4ac481'), 'name': 'Ruchi', 'address': 'Sky st 331'}
{'_id': ObjectId('64d222b85803c0a13d4ac483'), 'name': 'Virat', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d222b85803c0a13d4ac487'), 'name': 'Vivek', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d223995803c0a13d4ac489'), 'name': 'Amy', 'address': 'pune'}
{'_id': ObjectId('64d223995803c0a13d4ac48a'), 'name': 'Hina', 'address': 'mumbai'}
{'_id': ObjectId('64d223995803c0a13d4ac48b'), 'name': 'Munny', 'address': 'Valley 345'}
{'_id': ObjectId('64d223995803c0a13d4ac48e'), 'name': 'Ruchi', 'address': 'Sky st 331'}
{'_id': ObjectId('64d223995803c0a13d4ac490'), 'name': 'Virat', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d223995803c0a13d4ac494'), 'name': 'Vivek', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'pune'}
{'_id': 2, 'name': 'Peter', 'address': 'mumbai'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [41]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": {"$regex": "^S"}}

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('64d222b85803c0a13d4ac481'), 'name': 'Ruchi', 'address': 'Sky st 331'}
{'_id': ObjectId('64d222b85803c0a13d4ac487'), 'name': 'Vivek', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d223995803c0a13d4ac48e'), 'name': 'Ruchi', 'address': 'Sky st 331'}
{'_id': ObjectId('64d223995803c0a13d4ac494'), 'name': 'Vivek', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [42]:
mydoc = mycol.find().sort("name")

for x in mydoc :
    print(x)

{'_id': ObjectId('64d222b85803c0a13d4ac47c'), 'name': 'Amy', 'address': 'pune'}
{'_id': ObjectId('64d223995803c0a13d4ac489'), 'name': 'Amy', 'address': 'pune'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d222b85803c0a13d4ac480'), 'name': 'Bijal', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d223995803c0a13d4ac48d'), 'name': 'Bijal', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d222b85803c0a13d4ac484'), 'name': 'Bina', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d223995803c0a13d4ac491'), 'name': 'Bina', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d222b85803c0a13d4ac486'), 'name': 'Charmi', 'address': 'Main Road 989'}
{'_id': ObjectId('64d223995803c0a13d4ac493'), 'name': 'Charmi', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d222b85803c0a13d4ac47d'), 'name': 'Hina', 'address': 'Mumbai'}
{'_id': ObjectId('64d223995803c0a13d4ac48a'), 'name': 'Hina', 'address': 'mumbai'}
{'_id': 1, 'name': 'John', 'address': 'pune'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64d222b85803c0a13d4ac47e'), 'name': 'Munny', 'address': 'Valley 345'}
{'_id': ObjectId('64d223995803c0a13d4ac48b'), 'name': 'Munny', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'mumbai'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d222b85803c0a13d4ac481'), 'name': 'Ruchi', 'address': 'Sky st 331'}
{'_id': ObjectId('64d223995803c0a13d4ac48e'), 'name': 'Ruchi', 'address': 'Sky st 331'}
{'_id': ObjectId('64d222b85803c0a13d4ac47f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d223995803c0a13d4ac48c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d222b85803c0a13d4ac482'), 'name': 'Siya', 'address': 'One way 98'}
{'_id': ObjectId('64d223995803c0a13d4ac48f'), 'name': 'Siya', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d222b85803c0a13d4ac483'), 'name': 'Virat', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d223995803c0a13d4ac490'), 'name': 'Virat', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d222b85803c0a13d4ac487'), 'name': 'Vivek', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d223995803c0a13d4ac494'), 'name': 'Vivek', 'address': 'Sideway 1633'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64d220025803c0a13d4ac47a'), 'name': 'pari', 'address': 'canada'}
{'_id': ObjectId('64d21eeb5803c0a13d4ac478'), 'name': 'priti', 'address': 'vadodara'}
{'_id': ObjectId('64d222b85803c0a13d4ac485'), 'name': 'vani', 'address': 'Central st 954'}
{'_id': ObjectId('64d223995803c0a13d4ac492'), 'name': 'vani', 'address': 'Central st 954'}

In [44]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name",-1)

for x in mydoc:
    print(x)

{'_id': ObjectId('64d222b85803c0a13d4ac485'), 'name': 'vani', 'address': 'Central st 954'}
{'_id': ObjectId('64d223995803c0a13d4ac492'), 'name': 'vani', 'address': 'Central st 954'}
{'_id': ObjectId('64d21eeb5803c0a13d4ac478'), 'name': 'priti', 'address': 'vadodara'}
{'_id': ObjectId('64d220025803c0a13d4ac47a'), 'name': 'pari', 'address': 'canada'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64d222b85803c0a13d4ac487'), 'name': 'Vivek', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d223995803c0a13d4ac494'), 'name': 'Vivek', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d222b85803c0a13d4ac483'), 'name': 'Virat', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d223995803c0a13d4ac490'), 'name': 'Virat', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64d222b85803c0a13d4ac482'), 'name': 'Siya', 'address': 'One way 98'}
{'_id': ObjectId('64d223995803c0a13d4ac48f'), 'name': 'Siya', 'address': 'One way 98'}
{'_id': ObjectId('64d222b85803c0a13d4ac47f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d223995803c0a13d4ac48c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d222b85803c0a13d4ac481'), 'name': 'Ruchi', 'address': 'Sky st 331'}
{'_id': ObjectId('64d223995803c0a13d4ac48e'), 'name': 'Ruchi', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'mumbai'}
{'_id': ObjectId('64d222b85803c0a13d4ac47e'), 'name': 'Munny', 'address': 'Valley 345'}
{'_id': ObjectId('64d223995803c0a13d4ac48b'), 'name': 'Munny', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 1, 'name': 'John', 'address': 'pune'}
{'_id': ObjectId('64d222b85803c0a13d4ac47d'), 'name': 'Hina', 'address': 'Mumbai'}
{'_id': ObjectId('64d223995803c0a13d4ac48a'), 'name': 'Hina', 'address': 'mumbai'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64d222b85803c0a13d4ac486'), 'name': 'Charmi', 'address': 'Main Road 989'}
{'_id': ObjectId('64d223995803c0a13d4ac493'), 'name': 'Charmi', 'address': 'Main Road 989'}
{'_id': ObjectId('64d222b85803c0a13d4ac484'), 'name': 'Bina', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d223995803c0a13d4ac491'), 'name': 'Bina', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d222b85803c0a13d4ac480'), 'name': 'Bijal', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d223995803c0a13d4ac48d'), 'name': 'Bijal', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d222b85803c0a13d4ac47c'), 'name': 'Amy', 'address': 'pune'}
{'_id': ObjectId('64d223995803c0a13d4ac489'), 'name': 'Amy', 'address': 'pune'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [47]:
myquery = {"address" : "Mountain 21"}

mycol.delete_one(myquery)

for x in mycol.find() :
    print(x)

{'_id': ObjectId('64d21eeb5803c0a13d4ac478'), 'name': 'priti', 'address': 'vadodara'}
{'_id': ObjectId('64d220025803c0a13d4ac47a'), 'name': 'pari', 'address': 'canada'}
{'_id': ObjectId('64d222b85803c0a13d4ac47c'), 'name': 'Amy', 'address': 'pune'}
{'_id': ObjectId('64d222b85803c0a13d4ac47d'), 'name': 'Hina', 'address': 'Mumbai'}
{'_id': ObjectId('64d222b85803c0a13d4ac47e'), 'name': 'Munny', 'address': 'Valley 345'}
{'_id': ObjectId('64d222b85803c0a13d4ac47f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d222b85803c0a13d4ac480'), 'name': 'Bijal', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d222b85803c0a13d4ac481'), 'name': 'Ruchi', 'address': 'Sky st 331'}
{'_id': ObjectId('64d222b85803c0a13d4ac482'), 'name': 'Siya', 'address': 'One way 98'}
{'_id': ObjectId('64d222b85803c0a13d4ac483'), 'name': 'Virat', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d222b85803c0a13d4ac484'), 'name': 'Bina', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d222b85803c0a13d4ac485'), 'name': 'vani', 'address': 'Central st 954'}
{'_id': ObjectId('64d222b85803c0a13d4ac486'), 'name': 'Charmi', 'address': 'Main Road 989'}
{'_id': ObjectId('64d222b85803c0a13d4ac487'), 'name': 'Vivek', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d223995803c0a13d4ac489'), 'name': 'Amy', 'address': 'pune'}
{'_id': ObjectId('64d223995803c0a13d4ac48a'), 'name': 'Hina', 'address': 'mumbai'}
{'_id': ObjectId('64d223995803c0a13d4ac48b'), 'name': 'Munny', 'address': 'Valley 345'}
{'_id': ObjectId('64d223995803c0a13d4ac48c'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d223995803c0a13d4ac48d'), 'name': 'Bijal', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d223995803c0a13d4ac48e'), 'name': 'Ruchi', 'address': 'Sky st 331'}
{'_id': ObjectId('64d223995803c0a13d4ac48f'), 'name': 'Siya', 'address': 'One way 98'}
{'_id': ObjectId('64d223995803c0a13d4ac490'), 'name': 'Virat', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d223995803c0a13d4ac491'), 'name': 'Bina', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d223995803c0a13d4ac492'), 'name': 'vani', 'address': 'Central st 954'}
{'_id': ObjectId('64d223995803c0a13d4ac493'), 'name': 'Charmi', 'address': 'Main Road 989'}
{'_id': ObjectId('64d223995803c0a13d4ac494'), 'name': 'Vivek', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'pune'}
{'_id': 2, 'name': 'Peter', 'address': 'mumbai'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [54]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = {"address" :{"$regex" : "^S"}}

x = mycol.delete_many(myquery)

print(x.deleted_count,"documents delete.")

6 documents delete.

In [56]:
mycol.drop()

In [57]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('64d22ffa5803c0a13d4ac4ac'), ObjectId('64d22ffa5803c0a13d4ac4ad'), ObjectId('64d22ffa5803c0a13d4ac4ae'), ObjectId('64d22ffa5803c0a13d4ac4af'), ObjectId('64d22ffa5803c0a13d4ac4b0'), ObjectId('64d22ffa5803c0a13d4ac4b1'), ObjectId('64d22ffa5803c0a13d4ac4b2'), ObjectId('64d22ffa5803c0a13d4ac4b3'), ObjectId('64d22ffa5803c0a13d4ac4b4'), ObjectId('64d22ffa5803c0a13d4ac4b5'), ObjectId('64d22ffa5803c0a13d4ac4b6'), ObjectId('64d22ffa5803c0a13d4ac4b7')]

In [58]:
mycol.drop()

In [59]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [61]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = { "address": "Mountain 21" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

for x in mycol.find():
  print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Canyon 123'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [62]:
myquery = {"address" : {"$regex" : "^S"}}
value = {"$set" : {"name" : "Minnie"}}

x = mycol.update_many(myquery,value)

print(x.modified_count,"documents updated.")

2 documents updated.

In [63]:
result = mycol.find().limit(8)

for x in result :
    print(x)

{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Canyon 123'}
{'_id': 5, 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Minnie', 'address': 'Sky st 331'}