**Learn MYSQL**

In [1]:
import mysql.connector

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000219AB8B8350>

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE preetidb")

DatabaseError: 1007 (HY000): Can't create database 'preetidb'; database exists

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('db_xyz',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('preetidb',)
('test',)

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="preetidb"
)

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Employee(name VARCHAR(225),address VARCHAR(255))")

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
) 

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor : 
    print(x)

('customers',)
('emp',)
('employee',)

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="preetidb"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'customers' already exists

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="preetidb"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN salary VARCHAR(255)")

ProgrammingError: 1060 (42S21): Duplicate column name 'salary'

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name,address,salary) VALUES (%s,%s,%s)"
val = ("Preeti" , "vadodara", "15000")
mycursor.execute(sql,val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

In [10]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="preetidb"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address,salary) VALUES (%s, %s,%s)"
val = [
  ('Peter', 'Lowstreet 4',10000),
  ('Amy', 'Apple st 652',25000),
  ('Hannah', 'Mountain 21',15000),
  ('Michael', 'Valley 345',14000),
  ('Sandy', 'Ocean blvd 2',30000),
  ('Betty', 'Green Grass 1',15000),
  ('Richard', 'Sky st 331',12000),
  ('Susan', 'One way 98',14000),
  ('Vicky', 'Yellow Garden 2',16000),
  ('Ben', 'Park Lane 38',15000),
  ('William', 'Central st 954',27000),
  ('Chuck', 'Main Road 989',18000),
  ('Viola', 'Sideway 1633',26000)
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="preetidb"
)

mycursor = mydb.cursor()

sql = "INSERT INTO customers (name, address,salary) VALUES (%s, %s,%s)"
val = ("priyal", "mumbai",45000)
mycursor.execute(sql, val)

mydb.commit()

print("1 record inserted, ID:", mycursor.lastrowid)

1 record inserted, ID: 43

In [12]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="preetidb"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for i in myresult:
  print(i)

(1, 'Preeti', 'vadodara', None)
(2, 'Preeti', 'vadodara', '15000')
(3, 'Peter', 'Lowstreet 4', '10000')
(4, 'Amy', 'Apple st 652', '25000')
(6, 'Michael', 'Valley 345', '14000')
(7, 'Sandy', 'Ocean blvd 2', '30000')
(8, 'Betty', 'Green Grass 1', '15000')
(9, 'Richard', 'Sky st 331', '12000')
(10, 'Susan', 'Canada', '14000')
(12, 'Ben', 'Ahmdabad', '15000')
(13, 'William', 'Central st 954', '27000')
(14, 'Chuck', 'Main Road 989', '18000')
(15, 'Viola', 'Sideway 1633', '26000')
(16, 'Peter', 'Lowstreet 4', '10000')
(17, 'Amy', 'Apple st 652', '25000')
(19, 'Michael', 'Valley 345', '14000')
(20, 'Sandy', 'Ocean blvd 2', '30000')
(21, 'Betty', 'Green Grass 1', '15000')
(22, 'Richard', 'Sky st 331', '12000')
(23, 'Susan', 'Canada', '14000')
(25, 'Ben', 'Ahmdabad', '15000')
(26, 'William', 'Central st 954', '27000')
(27, 'Chuck', 'Main Road 989', '18000')
(28, 'Viola', 'Sideway 1633', '26000')
(29, 'priyal', 'mumbai', '45000')
(30, 'Peter', 'Lowstreet 4', '10000')
(31, 'Amy', 'Apple st 652', '25000')
(32, 'Hannah', 'Mountain 21', '15000')
(33, 'Michael', 'Valley 345', '14000')
(34, 'Sandy', 'Ocean blvd 2', '30000')
(35, 'Betty', 'Green Grass 1', '15000')
(36, 'Richard', 'Sky st 331', '12000')
(37, 'Susan', 'One way 98', '14000')
(38, 'Vicky', 'Yellow Garden 2', '16000')
(39, 'Ben', 'Park Lane 38', '15000')
(40, 'William', 'Central st 954', '27000')
(41, 'Chuck', 'Main Road 989', '18000')
(42, 'Viola', 'Sideway 1633', '26000')
(43, 'priyal', 'mumbai', '45000')

In [13]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)

cursor = mydb.cursor()

cursor.execute("SELECT name,address FROM customers")

result =cursor.fetchall()

for i in result:
    print(i)

('Preeti', 'vadodara')
('Preeti', 'vadodara')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'Canada')
('Ben', 'Ahmdabad')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'Canada')
('Ben', 'Ahmdabad')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('priyal', 'mumbai')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('priyal', 'mumbai')

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root", 
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT *FROM customers")

result = mycursor.fetchone()

print(result)

(1, 'Preeti', 'vadodara', None)

In [15]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root" ,
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

sql = "SELECT *FROM customers WHERE address = 'vadodara'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for i in myresult:
    print(i)

(1, 'Preeti', 'vadodara', None)
(2, 'Preeti', 'vadodara', '15000')

In [16]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

sql = "SELECT *FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for i in myresult :
    print(i)

(15, 'Viola', 'Sideway 1633', '26000')
(28, 'Viola', 'Sideway 1633', '26000')
(37, 'Susan', 'One way 98', '14000')
(42, 'Viola', 'Sideway 1633', '26000')

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

sql = "SELECT *FROM customers WHERE address = %s"
adr = ("Yellow Garden 2",)

mycursor.execute(sql,adr)

myresult = mycursor.fetchall()

for i in myresult :
    print(i)

(38, 'Vicky', 'Yellow Garden 2', '16000')

In [18]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)
mycursor = mydb.cursor()
sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for i in myresult :
    print(i)

(4, 'Amy', 'Apple st 652', '25000')
(17, 'Amy', 'Apple st 652', '25000')
(31, 'Amy', 'Apple st 652', '25000')
(12, 'Ben', 'Ahmdabad', '15000')
(25, 'Ben', 'Ahmdabad', '15000')
(39, 'Ben', 'Park Lane 38', '15000')
(8, 'Betty', 'Green Grass 1', '15000')
(21, 'Betty', 'Green Grass 1', '15000')
(35, 'Betty', 'Green Grass 1', '15000')
(14, 'Chuck', 'Main Road 989', '18000')
(27, 'Chuck', 'Main Road 989', '18000')
(41, 'Chuck', 'Main Road 989', '18000')
(32, 'Hannah', 'Mountain 21', '15000')
(6, 'Michael', 'Valley 345', '14000')
(19, 'Michael', 'Valley 345', '14000')
(33, 'Michael', 'Valley 345', '14000')
(3, 'Peter', 'Lowstreet 4', '10000')
(16, 'Peter', 'Lowstreet 4', '10000')
(30, 'Peter', 'Lowstreet 4', '10000')
(1, 'Preeti', 'vadodara', None)
(2, 'Preeti', 'vadodara', '15000')
(29, 'priyal', 'mumbai', '45000')
(43, 'priyal', 'mumbai', '45000')
(9, 'Richard', 'Sky st 331', '12000')
(22, 'Richard', 'Sky st 331', '12000')
(36, 'Richard', 'Sky st 331', '12000')
(7, 'Sandy', 'Ocean blvd 2', '30000')
(20, 'Sandy', 'Ocean blvd 2', '30000')
(34, 'Sandy', 'Ocean blvd 2', '30000')
(10, 'Susan', 'Canada', '14000')
(23, 'Susan', 'Canada', '14000')
(37, 'Susan', 'One way 98', '14000')
(38, 'Vicky', 'Yellow Garden 2', '16000')
(15, 'Viola', 'Sideway 1633', '26000')
(28, 'Viola', 'Sideway 1633', '26000')
(42, 'Viola', 'Sideway 1633', '26000')
(13, 'William', 'Central st 954', '27000')
(26, 'William', 'Central st 954', '27000')
(40, 'William', 'Central st 954', '27000')

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)
mycursor = mydb.cursor()
sql = "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for i in myresult :
    print(i)

(13, 'William', 'Central st 954', '27000')
(26, 'William', 'Central st 954', '27000')
(40, 'William', 'Central st 954', '27000')
(15, 'Viola', 'Sideway 1633', '26000')
(28, 'Viola', 'Sideway 1633', '26000')
(42, 'Viola', 'Sideway 1633', '26000')
(38, 'Vicky', 'Yellow Garden 2', '16000')
(10, 'Susan', 'Canada', '14000')
(23, 'Susan', 'Canada', '14000')
(37, 'Susan', 'One way 98', '14000')
(7, 'Sandy', 'Ocean blvd 2', '30000')
(20, 'Sandy', 'Ocean blvd 2', '30000')
(34, 'Sandy', 'Ocean blvd 2', '30000')
(9, 'Richard', 'Sky st 331', '12000')
(22, 'Richard', 'Sky st 331', '12000')
(36, 'Richard', 'Sky st 331', '12000')
(29, 'priyal', 'mumbai', '45000')
(43, 'priyal', 'mumbai', '45000')
(1, 'Preeti', 'vadodara', None)
(2, 'Preeti', 'vadodara', '15000')
(3, 'Peter', 'Lowstreet 4', '10000')
(16, 'Peter', 'Lowstreet 4', '10000')
(30, 'Peter', 'Lowstreet 4', '10000')
(6, 'Michael', 'Valley 345', '14000')
(19, 'Michael', 'Valley 345', '14000')
(33, 'Michael', 'Valley 345', '14000')
(32, 'Hannah', 'Mountain 21', '15000')
(14, 'Chuck', 'Main Road 989', '18000')
(27, 'Chuck', 'Main Road 989', '18000')
(41, 'Chuck', 'Main Road 989', '18000')
(8, 'Betty', 'Green Grass 1', '15000')
(21, 'Betty', 'Green Grass 1', '15000')
(35, 'Betty', 'Green Grass 1', '15000')
(12, 'Ben', 'Ahmdabad', '15000')
(25, 'Ben', 'Ahmdabad', '15000')
(39, 'Ben', 'Park Lane 38', '15000')
(4, 'Amy', 'Apple st 652', '25000')
(17, 'Amy', 'Apple st 652', '25000')
(31, 'Amy', 'Apple st 652', '25000')

In [20]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount,"record(s) deleted")

1 record(s) deleted

In [21]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="preetidb"
)

mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("Yellow Garden 2", )

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [22]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost" , 
user = "root",
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

sql = "DROP TABLE client"

mycursor.execute(sql)

ProgrammingError: 1051 (42S02): Unknown table 'preetidb.client'

In [23]:
import mysql.connector

mydb = mysql.connector.connect(
host= "localhost",
user = "root",
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

sql = "DROP TABLE IF EXISTS Employee"

mycursor.execute(sql)

In [24]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()
sql = "UPDATE customers SET address = 'Canada' WHERE address = 'One way 98'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount,"record(s) affected")

1 record(s) affected

In [25]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = %s WHERE address = %s"
val = ("Ahmdabad" , "Park Lane 38")
    
mycursor.execute(sql,val)

mydb.commit()
    
print(mycursor.rowcount,"record affected")

1 record affected

In [26]:
mycursor.execute("SELECT * FROM customers LIMIT 5")

myresult = mycursor.fetchall()

for i in myresult :
    print(i)

(1, 'Preeti', 'vadodara', None)
(2, 'Preeti', 'vadodara', '15000')
(3, 'Peter', 'Lowstreet 4', '10000')
(4, 'Amy', 'Apple st 652', '25000')
(6, 'Michael', 'Valley 345', '14000')

In [27]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers LIMIT 5 OFFSET 2")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(3, 'Peter', 'Lowstreet 4', '10000')
(4, 'Amy', 'Apple st 652', '25000')
(6, 'Michael', 'Valley 345', '14000')
(7, 'Sandy', 'Ocean blvd 2', '30000')
(8, 'Betty', 'Green Grass 1', '15000')

In [28]:
mycursor.execute("CREATE TABLE employee(name VARCHAR(255), address VARCHAR(255))")

In [29]:
sql = "INSERT INTO employee (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [30]:
sql = "DROP TABLE employee"

mycursor.execute(sql)

In [31]:
mycursor.execute("CREATE TABLE emp(name VARCHAR(255), address VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'emp' already exists

In [32]:
sql = "INSERT INTO emp (name, address) VALUES (%s, %s)"
val = [
  ('priya', 'Dubai'),
  ('Arnav', 'canada'),
  ('Hina', 'Mumbai'),
  ('Munny', 'vadodara'),
  ]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

4 was inserted.

In [33]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="preetidb"
)

mycursor = mydb.cursor()

sql = "SELECT \
  emp.name AS emp, \
  customers.address AS customers \
  FROM emp\
  INNER JOIN customers ON emp.address = customers.address"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Munny', 'vadodara')
('Munny', 'vadodara')
('Arnav', 'Lowstreet 4')
('Hina', 'Apple st 652')
('priya', 'Valley 345')
('Munny', 'Valley 345')
('Arnav', 'Canada')
('Arnav', 'Lowstreet 4')
('Hina', 'Apple st 652')
('priya', 'Valley 345')
('Munny', 'Valley 345')
('Arnav', 'Canada')
('Hina', 'mumbai')
('Arnav', 'Lowstreet 4')
('Hina', 'Apple st 652')
('priya', 'Valley 345')
('Munny', 'Valley 345')
('Arnav', 'Canada')
('Hina', 'mumbai')

In [34]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

sql = "UPDATE emp SET address = %s WHERE address = %s"
val = ("vadodara", "Dubai")
    
mycursor.execute(sql,val)

mydb.commit()
    
print(mycursor.rowcount,"record affected")

1 record affected

In [35]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

sql = "UPDATE emp SET address = %s WHERE address = %s"
val = ("Lowstreet 4", "canada")
    
mycursor.execute(sql,val)

mydb.commit()
    
print(mycursor.rowcount,"record affected")

1 record affected

In [36]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

sql = "UPDATE emp SET address = %s WHERE address = %s"
val = ("Apple st 652", "Mumbai")
    
mycursor.execute(sql,val)

mydb.commit()
    
print(mycursor.rowcount,"record affected")

1 record affected

In [37]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)

mycursor = mydb.cursor()

sql = "UPDATE emp SET address = %s WHERE address = %s"
val = ("vadodara", "vadodara")
    
mycursor.execute(sql,val)

mydb.commit()
    
print(mycursor.rowcount,"record affected")

0 record affected

In [38]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="preetidb"
)

mycursor = mydb.cursor()

sql = "SELECT \
  emp.name AS emp, \
  customers.address AS customers \
  FROM emp\
  RIGHT JOIN customers ON emp.address = customers.address"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('priya', 'Valley 345')
('priya', 'Valley 345')
('priya', 'Valley 345')
('Arnav', 'Lowstreet 4')
('Arnav', 'Lowstreet 4')
('Arnav', 'Lowstreet 4')
('Hina', 'Apple st 652')
('Hina', 'Apple st 652')
('Hina', 'Apple st 652')
('Munny', 'Valley 345')
('Munny', 'Valley 345')
('Munny', 'Valley 345')
('priya', 'vadodara')
('priya', 'vadodara')
('Arnav', 'Lowstreet 4')
('Arnav', 'Lowstreet 4')
('Arnav', 'Lowstreet 4')
('Hina', 'Apple st 652')
('Hina', 'Apple st 652')
('Hina', 'Apple st 652')
('Munny', 'vadodara')
('Munny', 'vadodara')
(None, 'Ocean blvd 2')
(None, 'Green Grass 1')
(None, 'Sky st 331')
(None, 'Canada')
(None, 'Ahmdabad')
(None, 'Central st 954')
(None, 'Main Road 989')
(None, 'Sideway 1633')
(None, 'Ocean blvd 2')
(None, 'Green Grass 1')
(None, 'Sky st 331')
(None, 'Canada')
(None, 'Ahmdabad')
(None, 'Central st 954')
(None, 'Main Road 989')
(None, 'Sideway 1633')
(None, 'mumbai')
(None, 'Ocean blvd 2')
(None, 'Green Grass 1')
(None, 'Sky st 331')
(None, 'Canada')
(None, 'Ahmdabad')
(None, 'Central st 954')
(None, 'Main Road 989')
(None, 'Sideway 1633')
(None, 'mumbai')

In [15]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)

cursor = mydb.cursor()

old_table = "emp"
new_table = "employee"

rename_query = f"ALTER TABLE emp RENAME TO employee"

In [25]:
import mysql.connector

mydb = mysql.connector.connect(
host = "localhost",
user = "root",
password = "",
database = "preetidb"
)
cursor = mydb.cursor()

old_table = "customers"
new_table = "client"

rename_query = f"ALTER TABLE customers RENAME TO client"

try:
    cursor.execute(rename_query)
    mydb.commit()  # Commit the changes
    print("Table renamed successfully.")
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    cursor.close()
    mydb.close()

Error: 1146 (42S02): Table 'preetidb.customers' doesn't exist